<!-- Used by blog-theme-3-->

<div class="row">
  <div class="ten wide column">
    <a href="{{ site.baseurl}}{{ include.page.url }}"><h2 class="header blog-theme-3">{{ include.page.title }}</h2></a>
    <div style="margin-top:5px; padding-bottom: 10px" class="meta">
      <span class="date">{{ include.page.date | date_to_string }}</span>
    </div>
    <p>{{ include.page.content | markdownify | strip_html | truncatewords: 40 }}</p>

    <p>
    <div style="text-align: center" class="ui mini tag labels">
      {% for label in include.page.labels %}
      <div class="ui basic label blog-theme-3">{{ label }}</div>
      {% endfor %}
    </div>
    </p>

    <hr style="margin-top: 20px">
  </div>
</div>
