<footer>
  <!-- IF ON MOBILE MODIFY THIS TO SHIFT INDIVIDUAL ELMENTS -->
  <div class="footer-mobile-screen">
    <div class="footer-background">
      <div class="ui centered grid text container footer">
        <!-- IF ON MOBILE DONT TOUCH THIS -->
        <h1 style="margin-top: 25px" class="ui main header footer" id="footer-main-header">Contact</h1>
        <div style="margin-top: 5px" class="ui vertically divided grid container">
          <div class="three column stackable row footer">
            <div class="column">
              <h3 class="ui secondary header">
                <i class="github icon mobile-footer"></i>
                <div class="content address-footer">
                  github.com/jon-lau
                </div>
              </h3>
            </div>
            <div class="column">
              <h3 class="ui secondary header">
                <i class="mail icon mobile-footer"></i>
                <div class="content mail-footer">
                  {{site.email}}
                </div>
              </h3>
            </div>
            <div class="column">
              <h3 class="ui secondary header">
                <i class="call icon mobile-footer"></i>
                <div class="content call-footer">
                  (808) 428-0683
                </div>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-background-layout-2">
      <div id="footer-navigation-links" class="ui middle aligned centered stackable grid text container">
        <div style="margin-top:35px">
          <a style="margin-right:7.5px" href="{{ site.github }}" target="_blank"><i
              class="circular github icon homepage"></i></a>
          <a style="margin-right:7.5px; margin-left: 7.5px" href="{{ site.linkedin }}"
             target="_blank"><i class="circular linkedin square icon homepage"></i></a>
          <a style="margin-right:7.5px; margin-left: 7.5px" href="{{ site.projects }}"><i
              class="circular suitcase icon homepage"></i></a>
          <a style="margin-left: 7.5px" href="{{ site.mail }}" target="_blank"><i
              class="circular mail outline icon homepage"></i></a>
          <br>
          <h4 id="copyright-footer">© {{site.time | date: "%Y"}} Jonathan Lau</h4>
        </div>
      </div>
    </div>
  </div>
</footer>
