html, div, span, canvas {
  margin:0;
  padding:0;
}
/* Need these backgrounds to fix initial white screen flash */
body {
  background:-o-linear-gradient(top, #040429, #000000);
  background:-ms-linear-gradient(top, #040429, #000000);
  background:-moz-linear-gradient(top, #040429, #000000);
  background:-webkit-linear-gradient(top, #040429, #000000);
  margin:0;
  padding:0;
}

#navigation-links a {
  padding: 0 0 0 0;
}
#navigation-links {
  z-index:4;
}

#pixie {
  z-index:0;
  background:-o-linear-gradient(top, #040429, #257eb7);
  background:-ms-linear-gradient(top, #040429, #257eb7);
  background:-moz-linear-gradient(top, #040429, #257eb7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7');
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7')";
  filter: contrast(105%);
}

.ui.main.header.homepage {
  z-index: 4;
  transition: all .3s ease-in-out;
}
#mountains, #grass {
  width:100%;
  position:absolute;
  bottom:0;
}

.ui.middle.aligned.centered.grid.text.container.home-page-header {
  width:100%;
  position:absolute;
  top:40%;
}

#container-background .wrapper .ui.middle.aligned.centered.grid.text.container.home-page-header #second-header {
  color: #bfbfbf;
  z-index: 4;
  transition: all .3s ease-in-out;
}

#mountains {
  height:156px;
  z-index:1;
  background:url(../../images/parallax-homepage/mountains.png) repeat-x 0 0;
}
#grass {
  height:62px;
  z-index:2;
  background:url(../../images/parallax-homepage/grass.png) repeat-x left 10px;
}