<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: en }}">

{% include head.html %}

<body>
{% include sidebar.html %}
{% include header.html %}
<!-- Wrap is the content to shift when toggling the sidebar. We content-cover the
     content to avoid any CSS collisions with our real content. -->
<div class="content-cover">
  <canvas id='c'></canvas>
  <div class="wrapper">
    <div class="ui left aligned text container missingpage">
      <h3 class="header-missingpage top">I'm sorry, that URL could not be found. Perhaps you were looking for one of the following:</h3>
      <ul>
        {% for item in site.data.menu %}
        <li><a class="missingpage-link" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script src="../js/sidebar/sidebar.js"></script>
</body>
</html>


