<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Simple 2D Particle system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <link rel="stylesheet" href="../css/particles/particles.css">
</head>
<body>

<script type="text/javascript" src="../js/particle/Stats.js"></script>
<script type="text/javascript" src="../js/particle/ImageParticle.js"></script>
<script type="text/javascript" src="../js/particle/Particle.js"></script>

</body>
</html>
